.panel-logo-img {
  height: 50px;
}
.button-login {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.button-login button {
  width: 40%;
}
.icon-menu {
    padding-right: 15px;
}
.btn-group.list-action {
    display: block;
    width: 100%;
}
.btn-group.list-action > .btn-link {
    width: 100%;
    text-align: left;
    color: #000000;
}
.c-checkbox-mrg {
  margin-top: 6px;
  margin-bottom: 21px;
}
  
  .panel {
    box-shadow: none;
  }
  .file-box-height{
    height: 215px;
    margin-bottom: 25px;
  }
  .file-height{
    height: 215px;
    background-color: #f8f8f8;
    margin-bottom: 0px;
  }
  .file-box-icon{
    background-color: #fff;
  }
  .content-text{
    display: flex;
  }
  .content-text-icon{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    padding-right: 10px;
  }
.card-modal .card-item-content .card-body-detail {
    height: auto;
}

.aegis-home-page {
    background-color: #fff;
}

.aegis-home-page li a {
  color: rgb(4, 146, 179);
}

.home-project-container-new {
    background-color: #0492b3;
    color: #fff;
    padding: 28px 15px;
    text-align: center;
    margin-bottom: 25px;
    display: block;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.1);
    height: 97px;
}

.home-project-container {
    border-top: 4px solid #0492b3;
    padding: 15px;
    text-align: center;
    margin-bottom: 25px;
    display: block;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.1);
    height: 97px;
}

/* Layout for jobs.html */

.rg-row-top.job-content--row{
   background: transparent !important;
}

div.job-content--page {
  height:100%; 
  overflow: hidden; 
  padding: 0 !important;
  background: initial;
}

.job-content--row {
  margin: 0 !important;
}

#buttonCreateJob {
  margin-bottom: 20px;
}

.job-content--text-muted {
  text-align: center;
}

.page-python .nav-tabs {
  background: inherit;
  height: inherit;
  box-shadow: inherit;
}

.page-python a.nav-link {
  height: inherit;
}
.navbar-search {
  padding: 12px 0px;
}

.navbar-form-search {
  margin-bottom: 10px;
}

.navbar-search-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid lightgrey;
  font-size: 18px;
}

.navbar-ul-search {
  list-style-type: none;
  margin-left: -55px;
}

.navbar-container {
  padding: 0px;
}

.navbar-ul-search li:first-child {
  border-top: 1px solid lightgrey;
}

.navbar-ul-search li {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 10px 15px;
}

.navbar-search-radio input[type="radio"]:checked + label{
  background-color: rgb(4, 146, 179);
  display: block;
  color: #ffffff;
}

.navbar-search-radio-more{
  background-color: darkgrey;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bold;
}

.navbar-search-radio input[type="radio"]{
  display: none;
}

.navbar-search-radio label {
  display: block;
  padding: 10px 20px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0px;
  color: rgb(4, 146, 179);
}

.navbar-search-slider {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.navbar-search-slider .slider-space {
  padding: 15px 0px;
  width: 285px;
}

.navbar-search-header-slider {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid lightgrey;
  border-bottom: none;
  font-size: 18px;
}

.search-result-header {
  padding-top: 20px;
}

.search-result-border {
  border-left: 1px dashed lightgrey;
}

.search-result-sort {
  display: flex;
  justify-content: right;
}

.search-form-control {
  border: none;
  margin: 10px 0px 10px 10px; 
}

.no-mrg {
  margin-top: 0px; 
}

.input-date {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}

.input-date-group {
  padding: 10px 20px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.form-date-control {
  border-bottom: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0px 10px;
  width: 90%;
}

.date-title {
  text-transform: uppercase;
  font-size: 14px;
}
.search-header {
  align-items: center;
  display: flex;
}

.no-padding-kafka {
  padding: 0;
}


/* start model serving */

.model-serving--name {
  margin-top: 7px; 
  height: 2em;
}

.model-serving--version {
  margin-top: 9px; 
  height: 2em;
}

.model-serving--instances {
  margin-top: 15px; 
  height: 2em;
}

.model-serving--advanced {
  margin-top: 11px; 
  height: 2em;
}

.model-serving--advanced-form {
  margin-top: 10px; height: 2em;
}

.model-serving--form-kafka {
  margin-top: 10px; width: 80%;
}

.model-serving--maxwidth {
  max-width: 80px;
}

.model-serving--margin-right {
  margin-right:-3px
}

.model-serving--summary {
  font-size:0.9em; 
  padding:7px 10px; 
  margin-bottom: 3px; 
  background-color:#005571;
}

/* end model serving */

button.centered-icon {
  position: relative;
}

button.centered-icon > .fa.fa-trash {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 9px;
  margin-left: 9px;
}

.select2-drop-active {
  opacity: 1 !important;
}

.card-item {
  height: auto;
  min-height: 175px;
}

.card-item-content {
  max-height: initial;
  min-height: 175px;
  height: auto;
}

.card-item-content label {
  font-weight: normal;
}

.card-item-content .header {
  height: auto;
  max-height: initial;
}

.card-item-content .value {
  font-size: 15px;
  font-weight: normal;
}

.card-content.title-blue {
  color: #0492b3;
  font-size: 15px;
}

.oval {
  padding: 10px 0px;
  font-size: 13px;
}

.oval-license {
  background-color: #0492b3;  
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px 10px 10px 0px;
}

.oval-license.grey {
  background-color: darkgrey; 
  margin: 0px 10px 10px 0px;
}

.card-body .details h3 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 18px;
}

.search-result-sort {
  justify-content: flex-end;
}

.btn-bold {
  font-weight: bold;
}

.btn.align-right {
  width: 100%;
  text-align: right;
}

.select2-container-multi .select2-choices {
  border: none !important;
}

.select2-container-multi.select2-container-active .select2-choices {
  box-shadow: none !important;
}

.filter-search {
  width: 100%;
}
