# MacOS
.DS_Store

# vscode
.vscode

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### grunt ###
# Grunt usually compiles files inside this directory
dist/

# Grunt usually preprocesses files such as coffeescript, compass... inside the .tmp directory
.tmp/

### Node ###
# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

app/karma.conf.js
node_modules/
nbproject/

## Configuration Files:
app/scripts/config.js
env/local