<!-- Search Bar: Start -->
<div class="container-fluid wrapper-head-search">
    <div class="row content-utility-bar content-utility-bar-head">
        <div class="col-md-5">
            <div class="input-group" ng-controller="SearchBarCtrl as searchBarCtrl">
                <input type="text" class="form-control" placeholder="Search for projects or datasets..."
                    ng-model="searchBarCtrl.searchTerm"
                    ng-keyup="searchBarCtrl.hitEnter($event)"
                    ng-change="searchBarCtrl.keyTyped()">
                <span class="input-group-btn">
                    <button class="btn btn-default fa fa-search icon-resize-small" type="button" title="Filter"
                        ng-click="searchBarCtrl.onClickSearch()"></button>
                </span>
            </div>
        </div>
        <div class="col-md-7" style="padding-right: 30px;">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-click="mainCtrl.getMessages()">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                        style="padding:5px 15px 0px 20px; margin-top: 7px;" aria-expanded="false">
                        <i ng-if="mainCtrl.unreadMessages" class="fa fa-envelope fa-lg" title="Unread messages">
                            <span class="badge"
                                style="background-color: #f89406; font-family: sans-serif; z-index: 100; position: absolute; top: -10px; right: -18px">{{mainCtrl.unreadMessages}}</span>
                        </i>
                        <i ng-if="!mainCtrl.unreadMessages" class="fa fa-envelope fa-lg" title="No unread message"></i>
                        &nbsp;Messages
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li class="dropdown-header text-muted" ng-if="mainCtrl.messages.length">
                            <h4>Latest messages</h4>
                        </li>
                        <li class="dropdown-header text-muted" ng-if="!mainCtrl.messages.length">
                            <h4>Inbox empty.</h4>
                        </li>
                        <li ng-repeat="msg in mainCtrl.messages| limitTo:5">
                            <div>
                                <div ng-click="mainCtrl.openMessageModal(msg)">
                                    <div class="message-subject text-muted">
                                        <i ng-if="msg.unread" class="fa fa-circle pull-left"
                                            style="color:#f89406; margin-top: 4px;" title="Unread message"></i>
                                        <i ng-if="!msg.unread" class="fa fa-circle pull-left"
                                            style="color:grey; margin-top: 4px;" title="Read message"></i>
                                        {{msg.subject}}</div>
                                    <div class="text-muted">{{msg.dateSent| date:'medium'}}</div>
                                </div>
                                <div ng-click="mainCtrl.openMessageModal(msg)" class="message-preview">
                                    {{msg.preview| limitTo:80}} {{msg.preview.length > 80 ? ' ...' : ''}}</div>
                                <a ng-if="msg.path" href="#!/{{msg.path}}"> go to requested path.</a>
                            </div>
                        </li>
                        <a class="pull-right" ng-if="mainCtrl.messages.length" ng-click="mainCtrl.openMessageModal()"
                            style="text-decoration:none;"> See all messages</a>
                        <a class="pull-right" ng-if="!mainCtrl.messages.length" ng-click="mainCtrl.openMessageModal()"
                            style="text-decoration:none;"> Goto messages</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Search Bar: End -->