 <div class="row content-utility-bar content-utility-bar-actions">
  <div class="col-md-8">
      <h4>Extended Metadata ({{type}}){{ path }}</h4>
  </div>
  <div class="col-md-4">
      <div class="pull-right">
          <a href="http://www.w3.org/RDF/" title="RDF Resource Description Framework"><img
                  style="margin-right: 15px" src="http://www.w3.org/RDF/icons/rdf_metadata_button.48"
                  alt="RDF Resource Description Framework Metadata Icon" /></a>
      </div>
  </div>
</div>
